@using Carrito.Models
@using Carrito.Data;
@using Microsoft.AspNetCore.Http.Extensions
@model IEnumerable<Libro> 
@{
    ViewData["Title"] = "Librería Digital";
}
<main>
    <div class="titulo">
        <h1>Libros</h1>
    </div>
    <div class="galeria">
        @foreach (var libro in Model)
        {
            
            <div class="card">
                <a asp-controller="Libro"
                    asp-action="Index"
                    asp-route-id="@libro.Id">
                    <img src="@libro.CoverUrl" alt="@libro.Title">
                    <h2>@libro.Title</h2>
                    <p>@libro.Author.FullName</p>
                    <p>$@libro.Price.-</p>
                </a>
                @{
                    if(libro.Stock > 0)
                    {
                        <a asp-controller="Carrito"
                           asp-action="Agregar"
                           asp-route-id="@libro.Id"
                           asp-route-returnUrl="@Context.Request.GetEncodedUrl()"
                           class="btn btn-warning">
                            Comprar
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-agotado">
                            Sin Stock
                        </a>
                    }
                }
            </div>
        }
    </div>
    <div class="pagination-lg">
        @if (ViewBag.PaginaActual > 1)
        {
            <a asp-action="Index"
               asp-route-pagina="@(ViewBag.PaginaActual - 1)"
               class="btn btn-secondary">
                Anterior
            </a>
        }
        @if (ViewBag.PaginaActual < 5)
        {   
            <a asp-action="Index"
               asp-route-pagina="@(ViewBag.PaginaActual + 1)"
               class="btn btn-secondary">
                Siguiente
            </a>
        }
    </div>

</main>
