@model Libro
@section Estilos{
    <link rel="stylesheet" href="~/css/libro.css" />
}
@{
    ViewData["Title"] = "Detalle del libro";
}

    <div class="container-top">
        <img src="@Model.CoverUrl" alt="@Model.Title">
        <div class="container-top-text">
        <p class="ruta">INICIO > LIBROS > @Model.Genre.Name > @Model.Title</p>
        <h1>@Model.Title</h1>
            <h3>@Model.Author.FullName</h3>
            <p>$@Model.Price</p>
        @{
            if (Model.Stock > 0)
            {
                <a asp-controller="Carrito"
                   asp-action="Agregar"
                   asp-route-id="@Model.Id"
                   class="btn btn-warning">
                    Comprar
                </a>
            }
            else
            {
                <a class="btn btn-agotado">
                    Sin Stock
                </a>
            }
        }
        </div>
    </div>
    <div class="container-bottom">
        <h4>Descripcion</h4>
        <p><strong>Formato: </strong>Libro Físico</p>
        <p><strong>Editorial: </strong>@Model.Publisher.Name</p>
        <p><strong>Idioma: </strong>Español</p>
        <p><strong>Página: </strong>@Model.Pages</p>

        <h4>Sinopsis</h4>
        <p class="sinopsis">@Model.SynopsisEs</p>
    </div>