@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.EntityFrameworkCore
@using Carrito.Data;
@using Carrito.Models

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    @* Creo una section para que cada vista inserte su estilo de necesitarlo *@
    @await RenderSectionAsync("Estilos", required: false)
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


</head>
<body>
    <header>
        <div class="logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="Logo Librería" />
            </a>
        </div>


        @* BUSCADOR PRINCIPAL *@
        <form asp-controller="Libro"
              asp-action="Buscar"
              method="get"
              class="search-bar">

            <input type="text"
                   name="titulo"
                   placeholder="Buscar libros o autores..." />

        </form>


                     @*SECCIÓN USUARIO LOGUEADO*@
        @{
            int? usuarioId = Context.Session.GetInt32("UsuarioId");
            Usuario usuarioLogueado = null;

            if (usuarioId != null)
            {
                using (var context = new AppDbContext())
                {
                    usuarioLogueado = context.Usuarios
                    .FirstOrDefault(u => u.PersonaId == usuarioId);
                }
            }
        }


        <div class="user-actions">
            @if (usuarioLogueado == null)
            {
                <a asp-controller="Cuenta" asp-action="Login">Iniciar sesión</a>
                <a asp-controller="Cuenta" asp-action="Registro">Registrarse</a>
            }
            else
            {
                <div class="dropdown user-menu" id="menuUsuario">
                    <span class="bienvenida">¡Hola, @usuarioLogueado.Nombre! ▾</span>

                    <div class="dropdown-content">
                        <ul>
                            <li><a asp-controller="Cuenta" asp-action="Historial">Historial de compras</a></li>
                            <li><a asp-controller="Cuenta" asp-action="Logout">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            }
            <p class="nav-item">
                <a asp-controller="Carrito" asp-action="Index">
                    Carrito
                    @{
                        //leemos la sesion, traemos la cantidad y ponemos el numero
                        int cantidad = HttpContextAccessor.HttpContext.Session.GetInt32("CantLibros") ?? 0;

                        if(cantidad > 0)
                        {
                            <span class="cant-libro">@cantidad</span>
                        }
                    }
                </a>
            
            </p>
        </div>


    </header>
                            @*MENU NAV*@
    <nav class="navbar">
        <ul class="nav-menu">
            <li class="dropdown">
                <a href="#">CATEGORÍAS ▾</a>
                <div class="dropdown-content">
                    @{
                        using (var context = new AppDbContext())
                        {
                            var genero = context.Generos
                            .Include(g => g.Libros)                         
                            .ToList();
                            <ul>
                                @for(int i = 0; i < genero.Count()/2; i++)
                                {
                                    <li>
                                        <a href="/Libro/PorGenero?id=@genero[i].Id">
                                            @genero[i].Name
                                        </a>
                                    </li>

                                }
                            </ul>
                            <ul>
                                @for (int i = genero.Count() / 2; i < genero.Count(); i++)
                                {
                                    <li>
                                        <a href="/Libro/PorGenero?id=@genero[i].Id">
                                            @genero[i].Name
                                        </a>
                                    </li>

                                }
                            </ul>
                        }
                    }
                </div>
            </li>
            <li><a href="#">LOS MÁS VENDIDOS</a></li>
            <li><a href="#">NOVEDADES</a></li>
            <li><a href="#">CENTRO DE AYUDA</a></li>
            <li><a href="#">SUCURSALES</a></li>
        </ul>
    </nav>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <p>
                    @TempData["Error"]
                </p>
            </div>
        }else if(TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                <p>
                    @TempData["Success"]
                </p>
            </div>
        }
    @RenderBody()
    @RenderSection("Scripts", required: false)

    <footer class="footer">
        <div class="footer-top">
            <div class="footer-column">
                <h4>Libreria</h4>
                <a href="#">Locales</a>
                <a href="#">Políticas de privacidad</a>
            </div>
            <div class="footer-column">
                <h4>GUÍA DE COMPRA</h4>
                <a href="#">Preguntas frecuentes</a>
                <a href="#">Promociones para las sucursales</a>
                <a href="#">Costos y tiempos de envío</a>
                <a href="#">Devoluciones</a>
                <a href="#"><strong>Cancelaciones</strong></a>
            </div>
            <div class="footer-column">
                <h4>PRODUCTOS</h4>
                <a href="#">Libros por tema</a>
            </div>
            <div class="footer-column">
                <h4>CONTACTANOS</h4>
                <a href="#">Trabajar con nosotros</a>
                <a href="#">Consultas</a>
            </div>
            <div class="footer-column">
                <h4>REDES SOCIALES</h4>
                <div class="social-icons">
                    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" /></a>
                    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/5969/5969020.png" alt="Twitter" /></a>
                    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" /></a>
                    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" alt="LinkedIn" /></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
